
@{
    ViewBag.Title = "Gift";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="content-title">
    <h4>Quà tặng</h4>
</div>
<div class="empty-container">
    <img loading="lazy" src="https://www.mioto.vn/static/media/empty-gift.436a48a9.svg">
    <p>Bạn vui lòng sử dụng app Mioto để tìm hiểu thêm chi tiết chương trình</p>
    <div class="install-img d-flex">
        <a target="_blank" href="#">
            <img loading="lazy" src="~/Image/download-appstore.png">
        </a>
        <a target="_blank" href="#">
            <img loading="lazy" src="~/Image/download-google.png">
        </a>
    </div>
</div>

