
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@model Mioto.Models.Xe

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang chủ</title>
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <!--Link fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <style>
        .item-car {
            cursor: pointer;
        }
    </style>
    <!--Body-->
    <section class="body">
        <!--Banner-->
        <div class="banner-section">
            <div class="m-container">
                <div class="background space ec" style="background-image: url(/Image/intro-image.png)">
                    <h1>Mioto - Cùng Bạn Đến Mọi Hành Trình</h1>
                    <div class="line-bg"></div>
                    <h6 class="text-white">
                        Trải nghiệm sự khác biệt từ
                        <span class="text-primary">hơn 8000</span>
                        xe gia đình đời mới khắp Việt Nam
                    </h6>
                </div>
            </div>
            <div class="search-option" style=" margin-top: 50px;">
                @using (Html.BeginForm("Car", "Home", FormMethod.Get))
                {
                    <div class="search">
                        <div class="search-form sd">
                            <div class="search-form__item address" style=" max-width: 1200px; ">
                                <div class="title">
                                    <div class="wrap-svg">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 2.75C8.31 2.75 5.3 5.76 5.3 9.45C5.3 14.03 11.3 20.77 11.55 21.05C11.79 21.32 12.21 21.32 12.45 21.05C12.71 20.77 18.7 14.03 18.7 9.45C18.7 5.76 15.69 2.75 12 2.75Z" stroke="#767676" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M12.3849 11.7852C13.6776 11.5795 14.5587 10.3647 14.3529 9.07204C14.1472 7.77936 12.9325 6.89824 11.6398 7.104C10.3471 7.30976 9.46597 8.52449 9.67173 9.81717C9.87749 11.1099 11.0922 11.991 12.3849 11.7852Z" stroke="#767676" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </div>
                                    <p>Địa điểm</p>
                                </div>

                                <div class="choose">
                                    <div class="choose-item has-arrow" for="1">
                                        <div class="here-autocomplete">
                                            <div class="wrap-input">
                                                @Html.DropDownListFor(model => model.KhuVuc, (IEnumerable<SelectListItem>)ViewBag.TinhThanhPho, "Chọn...", new { @class = "form-control select-dropdown", style = "font-size: 16px; width: 100%;" })
                                                @Html.ValidationMessageFor(model => model.KhuVuc, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary search-btn">Tìm Xe</button> <!-- Thay thế a tag bằng button để submit form -->
                        </div>
                    </div>
                }


            </div>
        </div>
        <!--Tour-->
        <div class="topdes-section space sec">
            <div class="m-container">
                <h2>Địa Điểm Nổi Bật</h2>
            </div>
            <div class="m-container">
                <div class="m-container airport">
                    <h4 class="airport-head">Giao xe tại sân bay</h4>
                    <div class="swiper swiper-topdes-airport swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="width: 255px; margin-right: 20px;">
                                <a>
                                    <div class="airport-item">
                                        <div class="fix-img">
                                            <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2022/04/14/17/NGXIIKNY.jpg" alt="Cho thuê xe tự lái Tân Sơn Nhất">
                                        </div>
                                        <p>Tân Sơn Nhất </p>
                                        <span>1000+ xe</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 255px; margin-right: 20px;">
                                <a>
                                    <div class="airport-item">
                                        <div class="fix-img">
                                            <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2022/04/14/17/HU5WFGGX.jpg" alt="Cho thuê xe tự lái Nội Bài">
                                        </div>
                                        <p>Nội Bài </p>
                                        <span>200+ xe</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 255px; margin-right: 20px;">
                                <a>
                                    <div class="airport-item">
                                        <div class="fix-img">
                                            <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2022/04/14/17/ND4NE32Q.jpg" alt="Cho thuê xe tự lái Đà Nẵng">
                                        </div>
                                        <p>Đà Nẵng </p>
                                        <span>100+ xe</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 255px; margin-right: 20px;">
                                <a>
                                    <div class="airport-item">
                                        <div class="fix-img">
                                            <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2022/04/14/17/I2C3CQ64.jpg" alt="Cho thuê xe tự lái Cam Ranh">
                                        </div>
                                        <p>Cam Ranh </p>
                                        <span>20+ xe</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 255px; margin-right: 20px;">
                                <a>
                                    <div class="airport-item">
                                        <div class="fix-img">
                                            <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2022/04/14/17/IH8BGVXP.jpg" alt="Cho thuê xe tự lái Phú Quốc">
                                        </div>
                                        <p>Phú Quốc </p>
                                        <span>70+ xe</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 255px; margin-right: 20px;">
                                <a>
                                    <div class="airport-item">
                                        <div class="fix-img">
                                            <img loading="lazy" src="https://n1-cstg.mioto.vn/g/2022/04/14/17/IJKX9Q3Q.jpg" alt="Cho thuê xe tự lái Liên Khương">
                                        </div>
                                        <p>Liên Khương </p>
                                        <span>30+ xe</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination pagi-topdes-airport swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" style="width: 40px;">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" style="left: 8px;"></span>
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" style="left: 8px;"></span>
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" style="left: 8px;"></span>
                        </div>
                    </div>
                    <div class="swiper-button-prev topdes-airport-prev swiper-button-disabled">
                        <i class="fa-solid fa-angle-left" style="color: black"></i>
                    </div>
                    <div class="swiper-button-next">
                        <i class="fa-solid fa-chevron-right" style="color: black"></i>
                    </div>
                </div>

            </div>
        </div>
        <!--FeaturesSection-->
        <div class="features-section space sec">
            <div class="m-container">
                <h2>Ưu Điểm Của Mioto</h2>
                <h5 class="title">Những tính năng giúp bạn dễ dàng hơn khi thuê xe trên Mioto.</h5>
                <div class="features-container">
                    <div class="features-item pointer">
                        <div class="features-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/thue_xe_co_tai_xe.a6f7dc54.svg">
                        </div>
                        <h5>Lái xe an toàn cùng Mioto</h5>
                        <p>
                            Chuyến đi trên Mioto được bảo vệ với Gói bảo hiểm thuê xe tự lái từ MIC & VNI.
                            <br />
                            Khách thuê sẽ chỉ bồi thường tối đa 2,000,000VNĐ trong trường hợp có sự cố ngoài ý muốn.
                        </p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/dich_vu_thue_xe_tu_lai_hanoi.f177339e.svg">
                        </div>
                        <h5>An tâm đặt xe</h5>
                        <p>
                            Không tính phí huỷ chuyến trong vòng 1h sau khi đặt cọc. Hoàn cọc và bồi thường 100% nếu chủ xe huỷ chuyến trong vòng 7 ngày trước chuyến đi.
                        </p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/cho_thue_xe_tu_lai_tphcm.1e7cb1c7.svg">
                        </div>
                        <h5>Thủ tục đơn giản</h5>
                        <p>
                            Chỉ cần có CCCD gắn chip (Hoặc Passport) & Giấy phép lái xe là bạn đã đủ điều kiện thuê xe trên Mioto.
                        </p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/cho_thue_xe_tu_lai_hanoi.735438af.svg">
                        </div>
                        <h5>Thanh toán dễ dàng</h5>
                        <p>
                            Đa dạng hình thức thanh toán: ATM, thẻ Visa & Ví điện tử (Momo, VnPay, ZaloPay).
                        </p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/thue_xe_tu_lai_gia_re_hcm.ffd1319e.svg">
                        </div>
                        <h5>Giao xe tận nơi</h5>
                        <p>
                            Bạn có thể lựa chọn giao xe tận nhà/sân bay... Phí tiết kiệm chỉ từ 15k/km.
                        </p>
                    </div>
                    <div class="features-item">
                        <div class="features-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/thue_xe_tu_lai_gia_re_hanoi.4035317e.svg">
                        </div>
                        <h5>Dòng xe đa dạng</h5>
                        <p>
                            Hơn 100 dòng xe cho bạn tuỳ ý lựa chọn: Mini, Sedan, CUV, SUV, MPV, Bán tải.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Partner-->
        <!--<div class="ins-partner-section space sec">
            <div class="m-container">
                <h2>Hành Trình Của Bạn Luôn Được Bảo Vệ</h2>
            </div>
            <div class="m-container"></div>
        </div>-->
        <!--Tutorial-->
        <div class="tutorial-section space sec">
            <div class="m-container">
                <h2>Hướng Dẫn Thuê Xe </h2>
                <h5 class="title">Chỉ với 4 bước đơn giản để trải nghiệm thuê xe Mioto một cách nhanh chóng</h5>
                <div class="tutorial-container">
                    <div class="tutorial-item">
                        <div class="tutorial-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/cho_thue_xe_co_taigia_re_tphcm.12455eba.svg">
                        </div>
                        <div class="tutorial-item__content">
                            <h5 class="text-primary">01</h5>
                            <h5>Đặt xe trên <br />app/web Mioto</h5>
                        </div>
                    </div>

                    <div class="tutorial-item">
                        <div class="tutorial-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/gia_thue_xe_7cho_tai_tphcm.9455973a.svg">
                        </div>
                        <div class="tutorial-item__content">
                            <h5 class="text-primary">02</h5>
                            <h5>Nhận xe</h5>
                        </div>
                    </div>

                    <div class="tutorial-item">
                        <div class="tutorial-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/gia_thue_xe_7cho_tai_hanoi.0834bed8.svg">
                        </div>
                        <div class="tutorial-item__content">
                            <h5 class="text-primary">03</h5>
                            <h5>Bắt đầu <br />hành trình</h5>
                        </div>
                    </div>

                    <div class="tutorial-item">
                        <div class="tutorial-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/gia_thue_xe_4cho_tai_tphcm.9dcd3930.svg">
                        </div>
                        <div class="tutorial-item__content">
                            <h5 class="text-primary">04</h5>
                            <h5>Trả xe & kết thúc <br />chuyến đi</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Explorer first-->
        <div class="explorer-section">
            <div class="m-container">
                <div class="explorer-container">
                    <div class="explorer-item">
                        <div class="explorer-item__img">
                            <img src="https://www.mioto.vn/static/media/thue_xe_co_tai_xe_tphcm_gia_re.465b3169.png" />
                        </div>
                        <div class="explorer-item__content">
                            <div class="wrap-svg">
                                <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M64.7367 45.3824L53.7663 17.3473C53.1936 15.9196 51.8344 15 50.2977 15H39.9565C38.7062 15 37.5447 15.6211 36.8509 16.6577L32.4991 23.1673L28.1472 16.6617C27.4535 15.6211 26.2919 15 25.0416 15H14.7004C13.1637 15 11.8005 15.9236 11.2238 17.3635L0.269489 45.3662C-0.194333 46.5197 -0.0531702 47.8225 0.64458 48.8509C1.3383 49.8794 2.49584 50.4925 3.73807 50.4925H3.7421L24.7109 50.4642C26.3686 50.4642 27.8447 49.347 28.3045 47.7378L32.4991 32.597L36.6977 47.7539C37.1534 49.347 38.6296 50.4602 40.2832 50.4642L61.2561 50.4925H61.2601C62.5023 50.4925 63.6558 49.8794 64.3536 48.8509C65.0513 47.8225 65.1925 46.5197 64.7367 45.3824ZM24.1785 46.0357L4.74638 46.064L15.1683 19.4285H24.6665L29.5346 26.7044L24.1785 46.0357ZM40.8156 46.0357L35.4595 26.7044L40.3276 19.4285H49.8259L60.2477 46.064L40.8156 46.0357Z" fill="#5FCF86"></path></svg>
                            </div>
                            <h2>Bạn muốn biết thêm <br />về Mioto?</h2>
                            <p>Mioto kết nối khách hàng có nhu cầu thuê xe với hàng ngàn chủ xe ô tô ở TPHCM, Hà Nội & các tỉnh thành khác. Mioto hướng đến việc xây dựng cộng đồng người dùng ô tô văn minh & uy tín tại Việt Nam.</p>
                            <div class="wrap-btn">
                                <a href="@Url.Action("About", "Home")" class="btn btn--m btn-primary">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Explorer second-->
        <div class="explorer-section second">
            <div class="m-container">
                <div class="explorer-container">
                    <div class="explorer-item">
                        <div class="explorer-item__content">
                            <div class="wrap-svg">
                                <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M39.2979 5.66406H25.6979C20.8979 5.66406 19.8313 8.06409 19.2179 11.0241L17.0312 21.4774H47.9645L45.7779 11.0241C45.1645 8.06409 44.0979 5.66406 39.2979 5.66406Z" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M51.8031 38.5218C52.0164 40.7885 50.2031 42.7351 47.8831 42.7351H44.2564C42.1764 42.7351 41.8831 41.8551 41.5098 40.7351L41.1098 39.5885C40.5764 38.0151 40.2298 36.9485 37.4298 36.9485H27.5364C24.7631 36.9485 24.3364 38.1485 23.8564 39.5885L23.4564 40.7351C23.0831 41.8285 22.7897 42.7351 20.7097 42.7351H17.0831C14.7631 42.7351 12.9497 40.7885 13.1631 38.5218L14.2564 26.7352C14.5231 23.8285 15.083 21.4551 20.1497 21.4551H44.8164C49.8831 21.4551 50.4431 23.8285 50.7098 26.7352L51.8031 38.5218Z" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.0302 15.6641H15.0835" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M49.9052 15.6641H47.9585" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M20.896 29.2051H26.6827" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M38.3125 29.2051H44.0992" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M32.5 45.6641V48.3307" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M32.5 56.3301V58.9967" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8.50016 48.3301L5.8335 58.9967" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M56.5 48.3301L59.1667 58.9967" stroke="#5CB3FF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            </div>
                            <h2>Bạn muốn cho  <br />thuê xe?</h2>
                            <p>Hơn 5,000 chủ xe đang cho thuê hiệu quả trên Mioto <br />Đăng ký trở thành đối tác của chúng tôi ngay hôm nay để gia tăng thu nhập hàng tháng.</p>
                            <div class="wrap-btn has-2-btn">
                                <a href="#" class="btn btn--m btn-default">Tìm hiểu ngay</a>
                                <a href="@Url.Action("IntroOwnerCar", "Home")" class="btn btn--m btn-blue">Đăng ký xe</a>
                            </div>
                        </div>
                        <div class="explorer-item__img">
                            <img src="https://www.mioto.vn/static/media/thue_xe_oto_tu_lai_di_du_lich_gia_re.fde3ac82.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Explorer third-->
        <div class="explorer-section third">
            <div class="m-container">
                <div class="explorer-container">
                    <div class="explorer-item">
                        <div class="explorer-item__content">
                            <div class="wrap-svg">
                                <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M48.5 39.5541V52.1941C48.5 54.8074 46.42 56.9408 43.8866 56.9408H21.1134C18.5534 56.9408 16.5 54.8074 16.5 52.1941V12.3541C16.5 9.74076 18.58 7.60742 21.1134 7.60742H43.8866C46.4466 7.60742 48.5 9.74076 48.5 12.3541V40.4874" stroke="#5FCF86" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M31.1665 15.8203H33.8332" stroke="#5FCF86" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M32.5002 50.9661C33.9729 50.9661 35.1668 49.7722 35.1668 48.2995C35.1668 46.8267 33.9729 45.6328 32.5002 45.6328C31.0274 45.6328 29.8335 46.8267 29.8335 48.2995C29.8335 49.7722 31.0274 50.9661 32.5002 50.9661Z" fill="#5FCF86"></path></svg>
                            </div>
                            <h2>Trải nghiệm trọn vẹn  <br />cùng ứng dụng Mioto</h2>
                            <div class="install-img">
                                <a href="#">
                                    <img loading="lazy" src="~/Image/download-appstore.png">
                                </a>
                                <a href="#">
                                    <img loading="lazy" src="~/Image/download-google.png">
                                </a>
                            </div>
                        </div>
                        <div class="explorer-item__img">
                            <img loading="lazy" src="https://www.mioto.vn/static/media/dich_vu_cho_thue_oto_tu_lai.38588237.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="m-container">
            <p class="text-justify black-color-text" style="margin-bottom: 2px;">
                <span>Nguyễn Việt Anh -<b>22DH110144</b></span>
            </p>
            <p class="text-justify black-color-text" style="margin-bottom: 2px;">
                <span>Nguyễn Hữu Phước -<b>22DH112914</b></span>
            </p>
            <p class="text-justify black-color-text" style="margin-bottom: 2px;">
                <span>Trần Minh Việt -<b>22DH114248</b></span>
            </p>
        </div>
    </section>
</body>
</html>

