
@{
    ViewBag.Title = "Alert";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="m-container">
    <div class="empty-container">
        <img loading="lazy" src="https://www.mioto.vn/static/media/empty-mycar.e023e681.svg" alt="">
        <p>Vui lòng xác thực CCCD và GPLX trước khi đặt xe.</p>
    </div>
</div>


