@{
    ViewBag.Title = "CongratulationPaymentDone";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="congratulation-container" style=" margin-top: 40px;">
    <div class="congratulation-message">
        <h4>Giao dịch của bạn đã được thực hiện!</h4>
        <p>Vui lòng chờ nhân viên Mioto xác thực giao dịch của bạn.</p>
    </div>
</div>

<style>
    body {
        background-color: #f0f4f8;
        margin: 0;
        padding: 0;
    }

    .congratulation-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f4f8;
        color: #333;
    }

    .congratulation-message {
        text-align: center;
        max-width: 600px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

        .congratulation-message h4 {
            color: #28a745;
            font-size: 24px;
            margin-bottom: 15px;
        }

        .congratulation-message p {
            font-size: 18px;
            color: #555;
        }
</style>
